.project_dashboard h1{
    text-align:center;
    font-weight:bold;
    font-size:40px;
}

.header{
    margin: auto;
    display: flex;
    text-align: center;
    gap: 20px;
    flex-direction: column;
}

.project_dashboard{
    margin:40px;
    flex-direction:column;
    gap:40px;
    display:flex;
    height:100vh;
}

.filters .create_project{
    background-color:#00b894;
    border:solid 2px #00b894;
    color:white;
    border-radius:10px;
    font-size:14px;
    width:150px;
    height:50px;
    font-weight:bold;
    }
.header input{
    background-color:#238DC2;
    border:solid 2px #238DC2;
    color:#238DC2;
    border-radius:10px;
    font-size:14px;
    width:200px;
    height:50px;
    font-weight:bold;
}
.header input::placeholder {
    color: white;
}

.header input:focus::placeholder{
    color:#238DC2;
}

.body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding-bottom:100px;
    overflow-y:auto; /* ajouter bar scrolling */
    height:100vh;   /* ajouter bar scrolling */
    flex:1;
}


.project_card{
    margin: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    gap:5px;
    width:350px;
    height:200px;
    word-wrap:break-word; /* retourner le text a la ligne quand il depasse la taille du div */
    overflow-wrap:break-word; /* retourner le text a la ligne quand il depasse la taille du div */
}

.project_card h2{
    text-align:justify;
    font-size:25px;
    font-weight:bold;
}

.project_state {
    justify-content:flex-end;
    display:flex;
    padding:10px;
}

/*
.project_state{
    display:flex;
    gap:20px;
}
*/
.project_state span{
    display:inline-block;
    width:100px;
    padding:10px;
    font-size:15px;
    font-weight:bold;
    border-radius:10px;
    text-align:center;
    color:white;
}

.state_draft{
    background-color:#6c5ce7;
}

.state_progress{
    background-color: #0984e3;
}

.state_done{
    background-color:#00b894;
}

.state_cancel{
    background-color:#d63031;
}

.project_actions{
    align-items:center;
    justify-content:center;
    display:flex;
}

.icon{
    padding:10px;
    font-size:20px;
}



.space-right{
    margin-right:10px;
}

.stat_card strong, .stat_card span, .stat_card i{
    color:white;
}


.stats_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: auto;
}

.stat_card {
    width: 200px;
    background: white;
    border-radius: 16px;
    /*padding: 20px;*/
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.stat_card:hover {
    transform: translateY(-20px);
}

/* ICON */
.stat_card .icon {
    font-size: 22px;
    padding: 12px;
    border-radius: 12px;
    color: white;
}

/* TEXT */
.stat_card .number {
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.stat_card .label {
    font-size: 20px;
    color: gray;
}

.stat_card .info{
    display: flex;
    gap: 20px;
    text-align: center;
}
/* COLORS */

.total .icon {
    background: #6c5ce7;
}

.total_tasks .icon{
    background: #4dc6fb;
}
.total_draft .icon {
    background: #6c5ce7;
}

.total_progress .icon {
    background: #0984e3;
}

.total_done .icon {
    background: #00b894;
}


.total_cancel .icon {
    background: #d63031;
}

.filters {
    display: flex;
    gap: 10px;
    margin: auto;

}

.filters button {
    /*padding: 6px 12px;*/
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
}

.filters button.active {
    background: #6c5ce7;
    color: white;
}

/*.filters button:not(.create_project):hover {*/
/*    background: #dfe6e9;*/
/*    color:#6c5ce7;*/
/*}*/




