.form_container{
 margin:auto ;
}


.form{
    width:600px;
    flex-direction:column;
    display:flex;
    gap:20px;

}

textarea,input,select{
    border-radius:20px;
    border:solid 2px black;
    padding:10px;
    color:black;
    font-size:18px;

}

input::placeholder,textarea::placeholder{
    color:black;
    opacity:1;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #f0f8ff; /* couleur du fond */
    border: 2px solid green; /* bordure */
    outline: none; /* enlève le contour par défaut */
}

.dates{
    gap:20px;
    display:flex;
    margin:auto;

}

.dates input{
    width:290px;
}


.buttons{
    display:flex;
    gap:20px;
    justify-content:center;
    justify-items:center;
    margin:auto;
}

.buttons button{
    padding:10px 40px 10px 40px;
    border-radius:20px;
    font-size:20px;
    color:white;
    font-weight:bold;
    border:0;
}

.button_save{
    background-color:green;
    border-color:green
}
.button_save:hover{
 background-color: white; /* couleur du fond */
    border: 2px solid green; /* bordure */
    color:green;
    }

.button_cancel{
    background-color:red;
    border-color:red;

}
.button_cancel:hover{
    background-color: white; /* couleur du fond */
    border: 2px solid red; /* bordure */
    color:red;
}